<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete City</title>
</head>
<body>
    <h1>Delete city</h1>
    <h2>Are you sure?</h2>
<p>
    <a href="/citys">City list</a>
</p>
    <form th:action="@{/delete-city}" th:object="${city}" method="post">
        <input th:type="hidden" name="id" th:field="*{id}">
        <table>
            <tr>
                <td>Tên thành phố:</td>
                <td th:text="${city.getNameCity()}"></td>
            </tr>
            <tr>
                <td>Tên quốc gia:</td>
                <td th:text="${city.getNameCountry()}"></td>
            </tr>
            <tr>
                <td>Diện tích:</td>
                <td th:text="${city.getArea()}"></td>
            </tr>
            <tr>
                <td>Population:</td>
                <td th:text="${city.getPopulation()}"></td>
            </tr>
            <tr>
                <td>GDP:</td>
                <td th:text="${city.getGDP()}"></td>
            </tr>
            <tr>
                <td>THông tin chi tiết:</td>
                <td th:text="${city.getCityDetail()}"></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Deltete"></td>
            </tr>
        </table>
    </form>
</body>
</html>