<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sửa thông tin</title>
</head>
<body>
<h1>Sửa thông tin</h1>
<p>
    <a href="/citys">Danh sách các thành phố</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/edit-city}" th:object="${city}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Tên thành phố</td>
            <td><input type="text" th:field="*{nameCity}"/></td>
        </tr>
        <tr>
            <td> Quốc gia:</td>
            <td><input type="text" th:field="*{nameCountry}"/></td>
        </tr>
        <tr>
            <td>Diện tích:</td>
            <td><input type="text" th:field="*{area}"/></td>
        </tr>
        <tr>
            <td>Dân số:</td>
            <td><input type="text" th:field="*{population}"/></td>
        </tr>
        <tr>
            <td>Thu nhập bình quân:</td>
            <td><input type="text" th:field="*{GDP}"/></td>
        </tr>
        <tr>
            <td>Thông tin chi tiết:</td>
            <td><input type="text" th:field="*{cityDetail}"/></td>
        </tr>

        <tr>
            <td></td>
            <td><input type="submit" value="Cập nhật"></td>
        </tr>
    </table>
</form>
</body>
</html>